@font-face {font-family: 'Privateer';
	src: url('../fonts/privateerregular.eot');
	src: url('../fonts/privateerregular.eot?#iefix') format('embedded-opentype'),
		 /*url('assets/fonts/privateerregular.woff2') format('woff2'),*/
		 url('../fonts/privateerregular.woff') format('woff'),
		 url('../fonts/privateerregular.ttf') format('truetype'),
		 url('../fonts/privateerregular.svg#wf') format('svg');
}

body {
	font-family: 'Syne Mono', sans-serif;
}

.synemono {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

:root {
	--minh: 98vh;
	--color1: rgb(192, 21, 192);
	--color2: midnightblue;
  }
  
  html {
	font-size: 30px;
  }
  
  
  .curtain {
	/** create the "split" background **/
	background-image: linear-gradient(to bottom, var(--color2) 40%, var(--color1) 50%);
  }
  
  /** add extra space to the bottom (need this for the "sticky" effect) **/
  .curtain::after {
	content: "";
	display: block;
	min-height: var(--minh);
  }
  
  
  
  .invert {
	/** make the content sticky **/
	position: sticky;
	top: 20px;
  
	/** blend the content with the contrast effect **/
	mix-blend-mode: difference;
  
	/** center the content **/
	display: flex;
	align-items: center;
	justify-content: center;
	
	/** set the minimum height of the section **/
	min-height: var(--minh);
  }
  
  h2 {
	/** set the color of the text **/
	color: var(--color1);
  }

  .necho-word {
	  font-size: 4rem;
	  text-align: center;
  }

  .heart {
	  position: relative;
	  width: 100 px;
	  height: 90px;
  }

  .heart:before,
  .heart:after {
	  position: absolute;
	  content: "";
	  left: 50px;
	  top: 0;
	  width: 50px;
	  height: 80px;
	  background: red;
	  border-radius: 50px 50px 0 0;
	  transform: rotate(-45deg);
	  transform-origin: 0 100%;
  }

  .heart:after {
	  left: 0;
	  transform: rotate(-45deg);
	  transform-origin: 0 100%;
	  text-align: center;
  }

  .maddy-div {
	  max-width: 800px;
	  margin-left: auto;
	  margin-right: auto;
  }
  