@font-face {font-family: 'Privateer';
	src: url('../fonts/privateerregular.eot');
	src: url('../fonts/privateerregular.eot?#iefix') format('embedded-opentype'),
		 /*url('assets/fonts/privateerregular.woff2') format('woff2'),*/
		 url('../fonts/privateerregular.woff') format('woff'),
		 url('../fonts/privateerregular.ttf') format('truetype'),
		 url('../fonts/privateerregular.svg#wf') format('svg');
}

body {
	font-family: 'Merriweather', serif;
}

.privateer {
	font-family: "Privateer", serif;
}

h1 {
  font-family: "Privateer", serif;
}

.section-title {
  font-family: "Privateer", serif;
}

.raleway {
	font-family: 'Raleway', sans-serif;
}


h1 {
	text-align: center;
	font: bold 80px Sans-Serif;
	padding: 40px 0;
  }
  
  .simple {
	background: green;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  }

  :root {
	--minh: 98vh;
	--color1: wheat;
	--color2: midnightblue;
  }